<div class="ng-container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let col of columns">
                    {{ col.label }}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of data">
                    <td *ngFor="let col of columns">

                    <span 
                        [ngClass]="{
                        'boolean-true': row[col.key] === true,
                        'boolean-false': row[col.key] === false
                        }"
                    >
                        {{ formatValue(row[col.key]) }}
                    </span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>